{% load staticfiles %}
<!DOCTYPE html>
<html>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
<head lang="es">
<meta charset="UTF-8">
<title>{% block title %}{% endblock title%}</title>

<!-- ############################################ CSS #################################################### -->
<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/dashboard.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/dataTables.bootstrap.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">
{% block css %}{% endblock css%}
<!-- ##################################################################################################### -->
<style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
        font-size: 140%;
      }
      .form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Servicio Medico</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
             <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ request.user.first_name }} {{ request.user.last_name }} <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Tus Datos</a></li>
            <li class="divider"></li>
            <li><a href="#">Cambiar Contraseña</a></li>
            <li class="divider"></li>
            <li><a href="{% url 'logout' %}">Salir</a></li>
          </ul>
        </li>
          </ul>
        </div>
      </div>
    </nav>
<div class="container-fluid">
					{% block content %}{% endblock content %}
</div> 

<!-- ######################################## JS ########################################################### -->
<script type="text/javascript" src="{% static "js/jquery-1.11.2.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/holder.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.dataTables.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/dataTables.bootstrap.js" %}"></script>
<script type="text/javascript" src="{% static "js/base.js" %}"></script>
{% block js %}{% endblock js %}
<!-- ####################################################################################################### -->
</body>
</html>