{% load staticfiles %}
<!DOCTYPE html>
<html>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
<head lang="es">
<meta charset="UTF-8">
<title>{% block title %}{% endblock title%}</title>

<!-- ############################################ CSS #################################################### -->
<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
<!-- ##################################################################################################### -->
<style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }
      .form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }
    </style>

</head>

<body>

<div class="container">
<form class="form-signin" method="POST" action="">
{% csrf_token %}
        <h2 class="form-signin-heading">Servicio Medico</h2>
        <label for="inputEmail" class="sr-only">Usuario</label>
        <input type="text" id="inputUser" name="inputUser" class="form-control" placeholder="User" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
</form>
</div> 

<!-- ######################################## JS ########################################################### -->
<script type="text/javascript" src="{% static "js/jquery-1.11.2.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
<!-- ####################################################################################################### -->
</body>
</html>