 <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li
            {% if "Medicamentos" in request.path %} class='active'{% endif %}
            ><a href="{% url 'smc_medicamentos_lista' %}">Medicamentos <span class="sr-only">(current)</span></a></li>
            <li
            {% if "Estudiantes" in request.path %} class='active'{% endif %}
            ><a href="#">Estudiantes</a></li>
            <li
            {% if "Historiales" in request.path %} class='active'{% endif %}
            ><a href="#">Historiales</a></li>
          </ul>  
        </div>