{% extends 'base.html'%}
{% load staticfiles %}
{% block content%}
      <div class="row">
      {% include "menu.html" %}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Control</h1>
          <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
      <span class="glyphicon glyphicon-align-center" aria-hidden="true"/>
      </a>
      <p class="navbar-text">Medicamentos Disponibles</p>
    </div>
  </div>
</nav>
<div class="panel panel-default">
<div class="panel-heading">Listado</div>
            <table id="DT_medicamentos" class="table table-striped table-bordered datatable table-hover" cellspacing="0" width="100%">
        <thead>
            <tr>
            <th></th>
                <th>Nombre</th>
                <th>Compuesto Quimico</th>
                <th>Descripcion</th>
                <th>Existencia</th>
            </tr>
        </thead>
 
        <tfoot>
            <tr>
            <th class="small"></th>
                <th>Nombre</th>
                <th>Compuesto Quimico</th>
                <th>Descripcion</th>
                <th>Existencia</th>
            </tr>
        </tfoot>
 
        <tbody>
        
            <tr>
             <th>
             <a><span class="glyphicon glyphicon-pencil" aria-hidden="true"/></a>
             &nbsp;
             <a><span class="glyphicon glyphicon-trash" aria-hidden="true"/></a>
             </th>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
            </tr>
            <tr>
             <th>
             <a><span class="glyphicon glyphicon-pencil" aria-hidden="true"/></a>
             &nbsp;
             <a><span class="glyphicon glyphicon-trash" aria-hidden="true"/></a>
             </th>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
            </tr>
            <tr>
             <th>
             <a><span class="glyphicon glyphicon-pencil" aria-hidden="true"/></a>
             &nbsp;
             <a><span class="glyphicon glyphicon-trash" aria-hidden="true"/></a>
             </th>
                <td>Tiger Nixon</td>
                <td>System Architect</td>
                <td>Edinburgh</td>
                <td>61</td>
            </tr>
        </tbody>
    </table>
    </div>
        </div>
      </div>
 {% endblock content%}
 {% block js %}
	<script type="text/javascript" src="{% static 'js/medicamentos/list.js' %}"></script>
{% endblock js %}